<div class="welcome-container">
    <h1>Bienvenido al gestor de clinica</h1>
    <p>Seleccione una opción para continuar:</p>

    <div class="button-container">
        <button (click)="navigateToAddClinic()" class="nav-button">Agregar Clinica</button>
        <button (click)="navigateToAddDoctor()" class="nav-button">Agregar Doctor</button>
        <button (click)="navigateToAddPatient()" class="nav-button">Agregar Paciente</button>
        <button (click)="navigateToListPatient()" class="nav-button">Lista de Paciente</button>
    </div>
</div>