<div class="page">
    <form class="form" (ngSubmit)="onSubmit()">
        <p class="title">Registrar Doctor </p>
        <p class="message">Ingrese los datos solicitados a continuacion.</p>
        <label>
            <input required placeholder="" type="number" class="input" [(ngModel)]="newDoctor.idClinic" name="idClinic">
            <span>Id de la clinica</span>
        </label>

        <label>
            <input required placeholder="" type="text" class="input" [(ngModel)]="newDoctor.idLicence" name="idLicence">
            <span>Id de licencia del doctor</span>
        </label>

        <label>
            <input required placeholder="" type="text" class="input" [(ngModel)]="newDoctor.name" name="name">
            <span>Nombre</span>
        </label>

        <label>
            <input required placeholder="" type="text" class="input" [(ngModel)]="newDoctor.lastname" name="lastname">
            <span>Apellido</span>
        </label>

        <label>
            <input required placeholder="" type="text" class="input" [(ngModel)]="newDoctor.specialistType" name="specialistType">
            <span>Especialidad</span>
        </label>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>
